<h1>Add Student</h1>

{{#if msg}}
<div class="alert">{{msg}}</div>
{{/if}}

<form method="post" action="/addusers">
<div class="form-grp">
    <label for="name">Name:</label>
    <input type="text" name="name"/>
</div>
<div class="form-grp">
    <label for="age">Age:</label>
    <input type="age" name="age"/>
</div>
<div class="form-grp">
    <label for="city">City:</label>
    <input type="text" name="city"/>
</div>
<div class="form-btn">
    <button type="submit">Save</button>
    <a href="/" class="back">Back</a>
</div>
</form>